<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= title%>
	</title>
	<% include ../includes/head.ejs %>
</head>

<body>
	<% include ../includes/header.ejs %>
	<div class="container">
		<div class="row">
			<% catetories.forEach(function(catetory) { %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>
							<a href="/results?cat_id=<%= catetory._id %>&page=0" > <%= catetory.name %> </a>
						</h3>
					</div>
					<div class="panel-body">
							<% if(catetory.movies && catetory.movies.length>0) { %>
	
								<% catetory.movies.forEach(function(cat){ %>
									<div class="col-md-2 col-sm-2 col-xs-2">
										<figure class="thumbnail" id="<%= cat._id %>">
											<img src="<%= cat.poster %>" alt="<%= cat.title %>">
											<figcaption>
												<p><%= cat.title %></p>
												<a role="button" class="btn btn-primary" href="/movie/<%= cat._id %>">点击观看</a>
											</figcaption>
										</figure>
									</div>
								<% }) %>
							<% }else{ %>
								<p>暂无数据</p>
							<% } %>
						</div>
				</div>
			<% }) %>
		</div>
	</div>
</body>

</html>