<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= title%>
	</title>
	<% include ../includes/head.ejs %>
</head>

<body>
	<% include ../includes/header.ejs %>
	<div class="container">
		<div class="row">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>电影名字</th>
						<th>导演</th>
						<th>国家</th>
						<th>语言</th>
						<th>上映年份</th>
						<th>录入时间</th>
						<th>查看</th>
						<th>更新</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0;i< movies.length;i++) { %>
						<tr class="item-id-<%=movies[i]._id  %>">
							<td><%=movies[i].title %></td>
							<td><%=movies[i].doctor %></td>
							<td><%=movies[i].country %></td>
							<td><%=movies[i].language %></td>
							<td><%=movies[i].year %></td>
							<td><%=moment(movies[i].meta.updateAt).format('MM/DD/YYYY') %></td>
							<td><a target="_black" href="/movie/<%=movies[i]._id %>">查看</a></td>
							<td><a target="_black" href="/admin/movie/update/<%=movies[i]._id %>">修改</a></td>
							<td><button class="btn btn-danger del" data-id="<%=movies[i]._id%>">删除</button></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<script src="/js/admin.js"></script>
</body>

</html>